<header>
  <a href="#presentation">
    <img src="assets/images/icon.png" alt="silvertec icon" />
  </a>
  <nav class="desktop-menu">
    <a href="#sobre">Sobre</a>
    <a href="#portfolio">Portfolio</a>
    <a href="#experiencia">Experiência</a>
    <a href="#contato">Contato</a>
  </nav>
  <app-dropdown [icon]="'menu'" class="mobile-menu">
    <nav class="mobile-nav">
      <a href="#sobre">Sobre</a>
      <a href="#portfolio">Portfolio</a>
      <a href="#experiencia">Experiência</a>
      <a href="#contato">Contato</a>
    </nav>
  </app-dropdown>
</header>
