<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="btnform">
    <a
      href="assets/docs/cv.pdf"
      download="CV-Murilo-Silvestre.pdf"
      class="bntcv"
    >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Download CV
    </a>
    <a href="#contato" class="bntcontato">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Entre em Contato</a
    >
  </div>
</div>
