<div id="presentation" class="presentation-conteiner">
  <div class="container">
    <span class="name">Murilo</span>
    <div class="stack" style="--stacks: 3">
      <span style="--index: 0">Silvestre</span>
      <span style="--index: 1">Silvestre</span>
      <span style="--index: 2">Silvestre</span>
    </div>
  </div>
  <h2>
    Desenvolvedor FullStack <br />
    Angular & C#
  </h2>

  <a
    class="Linkedin"
    href="https://www.linkedin.com/in/murilo-silvestre-a120b021b/"
  >
    <img src="assets/svg/Linkedin.svg" alt="" />
  </a>
  <a class="Whatsapp" href="https://wa.me/5542998387762">
    <img src="assets/svg/Whatsapp.svg" alt="" />
  </a>
  <a class="Github" href="https://github.com/MuriloSilvestre">
    <img src="assets/svg/Github.svg" alt="" />
  </a>
</div>
